
@import "tailwindcss";

body {
  @apply antialiased bg-slate-100 text-slate-900;
}

/* Evitar zoom en inputs en iOS */
.no-zoom-input,
input,
textarea,
select {
  font-size: 16px;
}

html, body, #root {
  height: 100%;
  background-color: #0f172a; /* equivalente a bg-slate-950 */
}